[submodule "libs/riscv-baseband/VexRiscv"]
	path = libs/riscv-baseband/VexRiscv
	url = git@github.com:SpinalHDL/VexRiscv.git
[submodule "libs/s-modem/soapy/src/3rd/rapidcheck"]
	path = libs/s-modem/soapy/src/3rd/rapidcheck
	url = git@github.com:esromneb/rapidcheck.git
[submodule "libs/s-modem/soapy/src/3rd/schifra"]
	path = libs/s-modem/soapy/src/3rd/schifra
	url = git@github.com:esromneb/schifra.git
[submodule "libs/s-modem/soapy/src/3rd/turbofec"]
	path = libs/s-modem/soapy/src/3rd/turbofec
	url = git@github.com:ttsou/turbofec.git
